<div class="divide-three-table">
  <div class="point-name">
    <p>地点１</p>
  </div>
  <div>
    <table class="points" rules=none>
      <tr>
        <td colspan="6">風向</td>
        <td>WSW</td>
      </tr>
      <tr>
        <td colspan="6">風速</td>
        <td>3.7 m/s</td>
      </tr>
      <tr>
        <td colspan="6">最大瞬間風速</td>
        <td>7.9 m/s</td>
      </tr>
      <tr>
        <td colspan="4" class="first-td"></td>
        <td colspan="2" class="td-background">風向</td>
        <td class="td-value">WSW</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="2" class="td-background">起時</td>
        <td class="td-value">16:05</td>
      </tr>
      <tr>
        <td colspan="6">１０分雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">時間雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">気温</td>
        <td>16.5 °C</td>
      </tr>
      <tr>
        <td colspan="6">湿度</td>
        <td>59 %</td>
      </tr>
      <tr>
        <td colspan="6">日射量</td>
        <td>0.29 MJ/m2</td>
      </tr>
    </table>
  </div>
</div>
<div class="divide-three-table">
  <div class="point-name">
    <p>地点１</p>
  </div>
  <div>
    <table class="points">
      <tr>
        <td colspan="6">風向</td>
        <td>WSW</td>
      </tr>
      <tr>
        <td colspan="6">風速</td>
        <td>3.7 m/s</td>
      </tr>
      <tr>
        <td colspan="6">最大瞬間風速</td>
        <td>7.9 m/s</td>
      </tr>
      <tr>
        <td colspan="4" class="first-td"></td>
        <td colspan="2" class="td-background">風向</td>
        <td class="td-value">WSW</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="2" class="td-background">起時</td>
        <td class="td-value">16:05</td>
      </tr>
      <tr>
        <td colspan="6">１０分雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">時間雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">気温</td>
        <td>16.5 °C</td>
      </tr>
      <tr>
        <td colspan="6">湿度</td>
        <td>59 %</td>
      </tr>
      <tr>
        <td colspan="6">日射量</td>
        <td>0.29 MJ/m2</td>
      </tr>
    </table>
  </div>
</div>
<div class="float-right">
  <div class="point-name">
    <p>地点１</p>
  </div>
  <div>
    <table class="points">
      <tr>
        <td colspan="6">風向</td>
        <td>WSW</td>
      </tr>
      <tr>
        <td colspan="6">風速</td>
        <td>3.7 m/s</td>
      </tr>
      <tr>
        <td colspan="6">最大瞬間風速</td>
        <td>7.9 m/s</td>
      </tr>
      <tr>
        <td colspan="4" class="first-td"></td>
        <td colspan="2" class="td-background">風向</td>
        <td class="td-value">WSW</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td colspan="2" class="td-background">起時</td>
        <td class="td-value">16:05</td>
      </tr>
      <tr>
        <td colspan="6">１０分雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">時間雨量</td>
        <td>0.0 mm</td>
      </tr>
      <tr>
        <td colspan="6">気温</td>
        <td>16.5 °C</td>
      </tr>
      <tr>
        <td colspan="6">湿度</td>
        <td>59 %</td>
      </tr>
      <tr>
        <td colspan="6">日射量</td>
        <td>0.29 MJ/m2</td>
      </tr>
    </table>
  </div>
</div>
