.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
table.point, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
table.point th {
  font-size: 21px;
  background-color: #C3B5C2;
  padding-right: 48px;
  padding-left: 48px;
}
table.point td {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 70px;
  background-color: #5B7782;
  color: black;
  font-weight: bold;
}

table.point th.tbl2-th {
  padding: 1px;
}
table.point td.tbl2-td {
  padding-left: 68px;
  padding-right: 68px;
}
.divide-two-tables {
  margin-top: 3%;
}


table.points, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.points th, .points td {
  padding-left: 15px;
  padding-right: 15px;
}
.points td {
  font-size: 22px;
  text-align: center;
  background-color: #62C4F7;
  color: white;
  font-weight: bold;
}
.points td:nth-child(2) {
  background-color: white;
  color: black;
}
.point-name {
  border: 2px solid #62C4F7;
  border-radius: 10px;
  margin-bottom: 1px;
  margin-top: 8px;
}

.point-name p {
  font-size: 29px;
  font-weight: bold;
  text-align: center;
}

.divide-three-table {
  margin-right: 3%;
  float: left;
}

.float-right {
  float: right;
}

.td-value {
  background-color: white !important;
  color: black !important;
}
.first-td {
  width: 41px;
  border-bottom: 1px solid #62C4F7;
}
.td-background {
  background-color: #62C4F7 !important;
  color: white !important;
}
.wind-direction {
  position: absolute;
  text-align: center;
  top: 44%;
  left: 27%;
  width: 46%;
  font-size: 41px;
  border: 1px solid black;
  background-color: #976F3C;
}
