@charset "utf-8";

/* 共通 */
* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

img {
    border-style: none;
}

a img {
    border-style: none;
}

body {
	font-family: 'ＭＳ ゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,sans-serif;
	background-color: #f3f3f3;
	width: 100%;
	font-size: 12px;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* ページ領域 */
#wrapper {
	width: 1000px;
	height: 100%;
	border: 1px solid #e3e3e3;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

/* コンテンツ領域 */
#contents {
	background-color: #ffffff;
	width: 1000px;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* タイトル */
#toptitle {
	background:url(asset-path('title.gif')) 0px 0px;
	width: 1000px;
	height: 60px;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/* メニュー */
.tab {
	background:url(asset-path('tab_bgm.gif')) 0px 0px;
	width: 990px;
	height: 48px;
	margin:  0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}

#menu ul {
   display: block;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#menu a {
	float: left;
	width: 82px;
	height: 35px;
	text-indent: -9898px;
}

#menu li.sta_on,#menu li.sta_off,
#menu li.day_on,#menu li.day_off,
#menu li.mon_on,#menu li.mon_off,
#menu li.yea_on,#menu li.yea_off,
#menu li.ele_on,#menu li.ele_off,
#menu li.gra_on,#menu li.gra_off
{
	float: left;
	width: 82px;
	height: 35px;
	margin: 6px 0px 0px 0px;
}

#menu li.sta_on, #menu li.sta_on:hover, #menu li.sta_off:hover { background:url(asset-path('button_sta.png')) 0px -35px;}
#menu li.sta_off { background:url(asset-path('button_sta.png')) 0px 0px;}
#menu li.day_on, #menu li.day_on:hover, #menu li.day_off:hover { background:url(asset-path('button_day.png')) 0px -35px;}
#menu li.day_off { background:url(asset-path('button_day.png')) 0px 0px;}
#menu li.mon_on, #menu li.mon_on:hover, #menu li.mon_off:hover { background:url(asset-path('button_mon.png')) 0px -35px;}
#menu li.mon_off { background:url(asset-path('button_mon.png')) 0px 0px;}
#menu li.yea_on, #menu li.yea_on:hover, #menu li.yea_off:hover { background:url(asset-path('button_yea.png')) 0px -35px;}
#menu li.yea_off { background:url(asset-path('button_yea.png')) 0px 0px;}
#menu li.ele_on, #menu li.ele_on:hover, #menu li.ele_off:hover { background:url(asset-path('button_ele.png')) 0px -35px;}
#menu li.ele_off { background:url(asset-path('button_ele.png')) 0px 0px;}
#menu li.gra_on, #menu li.gra_on:hover, #menu li.gra_off:hover { background:url(asset-path('button_gra.png')) 0px -35px;}
#menu li.gra_off { background:url(asset-path('button_gra.png')) 0px 0px;}

/* 最新観測時刻 */
#lastdate {
	float: right;
	margin: 8px 4px 0px 0px;
	background:url(asset-path('newday.png')) 0px 0px no-repeat;
	width: 286px;
	height: 30px;
	padding: 8px 0px 0px 0px;
	text-indent: 94px;
	font-size: 16px;
}

/* 更新 */
#update {
	float: right;
	margin: 8px 6px 0px 0px;
	background:url(asset-path('update.png')) 0px 0px no-repeat;
	width: 35px;
	height: 30px;
	padding: 8px 0px 0px 0px;
	cursor: pointer;
}

/* 操作エリア */
#operate {
	width: 100%;
	height: 28px;
	margin: 0;
	padding: 5px 0px 0px 0px;
	background-color: #f1f1f1;
}

#operate div {
	float: left;
	line-height: 2;
}

#operate div.title {
	padding: 0px 5px 0px 10px;
	font-weight: bold;
}

#operate div.point_select, div.item_select, div.time_select, div.span_select, div.days_select {
	padding: 2px 25px 0px 0px;
}

#operate div.time_select {
	padding-top: 0px;
}

/* 前 */
#operate div.prev, span.prev {
	padding: 0px 0px 0px 12px;
	background:url(asset-path('prev.png')) 0px 0px no-repeat;
	background-position: left;
	color: #36699c;
	cursor: pointer;
}

/* 前(選択なし) */
#operate div.prev_d, span.prev_d {
	padding: 0px 0px 0px 12px;
	background:url(asset-path('prev_d.png')) 0px 0px no-repeat;
	background-position: left;
	color: #808080;
	pointer-events: none;
}

/* 次 */
#operate div.next, span.next {
	padding: 0px 10px 0px 2px;
	background:url(asset-path('next.png')) 0px 0px no-repeat;
	background-position: right;
	color: #36699c;
	cursor: pointer;
}

/* 次(選択なし) */
#operate div.next_d, span.next_d {
	padding: 0px 10px 0px 2px;
	background:url(asset-path('next_d.png')) 0px 0px no-repeat;
	background-position: right;
	color: #808080;
	pointer-events: none;
}

/* CSVダウンロード */
#operate div.csvdownload {
	float: right;
	width: 62px;
	height: 25px;
	background:url(asset-path('csv.png')) 0px 0px;
	margin: -1px 5px 0px 0px;
	cursor: pointer;
}

/* PDF表示 */
#operate div.pdf {
	float: right;
	width: 62px;
	height: 25px;
	background:url(asset-path('pdf.png')) 0px 0px;
	margin: -1px 5px 0px 3px;
	cursor: pointer;
}

/* 地点選択、要素選択 */
#point_list {
	width: 110px;
}

#item_list {
	width: 140px;
}

.date_full {
	width: 175px;
}

.date_ymd {
	width: 110px;
}

.date_ym {
	width: 85px;
}

.year {
	width: 65px;
}

.minute {
	width: 55px;
}

.day {
	width: 50px;
}

/* データ表示領域 */
#data {
	width: 1000px;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

/* 一覧表表示 */
#data iframe {
	border: none;
	width: 996px;
	height: 0px;
	margin: 0px;
	overflow: auto;
	padding: 2px;
}

/* グラフ表示 */
.graph {
	height: 582px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

#disparea_grp {
	position: relative;
	left: 0px;
}

#datatable {
	background-color: #ffffff;
}

#container {
	width: 996px;
	margin: 0;
	overflow: hidden;
}

/* 一覧表 */
#grid, #grid_s {
	margin: 0px;
	padding: 0px;
	width: 996px;
	border-collapse: collapse;
	border: 1px solid #045de6;

	/*table-layout: fixed;*/
}

#grid th, #grid td {
	border: 1px solid #045de6;
	padding: 2px 5px 2px 0px;
	background-color: #ffffff;
	table-layout: fixed;
	font-weight: normal;
	text-align: right;
	line-height: 12px;
}

#grid_s th, #grid_s td {
	border: 1px solid #045de6;
	padding: 2px 2px 2px 0px;
	background-color: #ffffff;
	table-layout: fixed;
	font-weight: normal;
	text-align: right;
	font-size: 11px;
	line-height: 11px;
}

#grid th, #grid_s th {
	padding: 2px 0px 2px 0px;
	background-color: #b4cdff;
	text-align: center;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#cadfff), to(#a2c2ff));
	background-image: -webkit-linear-gradient(top, #cadfff, #a2c2ff);
	background-image: -moz-linear-gradient(top, #cadfff, #a2c2ff);
	background-image: -ms-linear-gradient(top, #cadfff, #a2c2ff);
	background-image: -o-linear-gradient(top, #cadfff, #a2c2ff);
	background-image: linear-gradient(to bottom, #cadfff, #a2c2ff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cadfff, endColorstr=#a2c2ff);
}

#grid td.cell_center, #grid_s td.cell_center {
	padding: 2px 0px 2px 0px;
	text-align: center;
}

#grid td.grid_fixed, #grid_s td.grid_fixed {
	padding: 2px 0px 2px 0px;
	background-color: #cee0ff;
	text-align: center;
}

#grid td.grid_total_fixed, #grid_s td.grid_total_fixed {
	padding: 2px 0px 2px 0px;
	background-color: #ffffe0;
	text-align: center;
}

#grid td.grid_total, #grid_s td.grid_total {
	background-color: #ffffe0;
}

#grid td.grid_season_fixed, #grid_s td.grid_season_fixed {
	padding: 2px 0px 2px 0px;
	background-color: #d8ffff;
	text-align: center;
}

#grid td.grid_season, #grid_s td.grid_season {
	background-color: #d8ffff;
}

#grid td.grid_none, #grid_s td.grid_none {
	background-color: #f6f6f6;
}

/* 状況図 */
.pnl_backimg {
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 0;
}

.pnl_item {
	position: absolute;
	z-index: 1;
	text-align: right;
	font-weight: bold;
}
.pnl_image {
	position: absolute;
	z-index: 1;
}
.pnl_link {
	position: absolute;
	z-index:2;
	cursor:pointer;
}

.pnl_warn {
	color: #ff0000!important;
}

/* カレンダー */
#calendar-wrap input {
	margin-top: 2px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #7f9db9;
	padding: 1px 0 1px 0;
}

#calendar-wrap img {
	vertical-align: top;
	margin-top: -1px;
	margin-left: 1px;
	cursor:pointer;
}
